{% extends '_layout.html.twig' %}

{% block body %}

    <div class="app-content">
        <p>Some text</p>
        <ul>
            <li>list item 1</li>
            <li>list item 1</li>
        </ul>
    </div>

{% endblock %}